body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}
.floating-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-float {
  margin-top: -40px;
  position: fixed; /* stays fixed on screen */
  right: 10px; /* distance from the right edge */
  top: 50%; /* vertical center */
  transform: translateY(-50%); /* true center */
  width: 50px;
  height: 50px;
  background-color: #25d366; /* WhatsApp green */
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: bounce 2s infinite; /* optional bounce animation */
}

.whatsapp-float:hover {
  transform: translateY(-50%) scale(1.15); /* zoom on hover */
}

/* Bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-50%) translateY(0);
  }
  40% {
    transform: translateY(-50%) translateY(-8px);
  }
  60% {
    transform: translateY(-50%) translateY(-4px);
  }
}

/* free estimate */
.estimate-float {
  position: fixed;
  right: 10px;
  top: 50%;

  width: 130px;
  height: 50px;

  /* Styling */
  background-color: #ffffffcd;
  color: #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;

  white-space: nowrap;
}

.estimate-float:hover {
  transform: translateY(-50%) rotate(-90deg) scale(1.05);
  background-color: white;
}

@media (max-width: 778px) {
  .estimate-float {
    width: 120px;
    height: 40px;
    font-size: 14px;
    top: 58%;
    transform: translateY(-50%) rotate(-90deg);
    right: 0px;
    margin-right: -30px;
  }
}
